<div id="match-cards-board" class="align-middle">
  <div class="title">
    <h3 *ngIf="!gameEnded">Play</h3>
    <h3 *ngIf="gameEnded">You Win</h3>
  </div>

  <div class="container-fluid board align-middle" >
    <br>
    <br>
    <br>
    
    <div class="p-table">
      <ul class="p-card-list">  
        <li class="p-card" 
            *ngFor="let card of cards">
            <app-card [card]="card"
                      (onSelected)="onSelected($event)">
            </app-card>
        </li>
      </ul>
    </div>
    
  </div>
</div>

