#match-cards-board {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5%;
  overflow-y: scroll;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  position: absolute;
  text-align: center;
}
.board {
  /*background-color: blue;*/
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  /*left: -1.5%;*/
}
.p-table {
  /*background-color: orange;*/
	display: flex;
	margin: 0 auto;
  padding: 0;
}
.p-card-list {
  margin: 0 auto;                  /* center container */
  padding: 0;                 /* remove list padding */
  font-size: 0;
  display: block;
}
.p-card {
  /*background-color: purple;*/
  display: inline-flex;
  font-size: 18px;                 /* restore font size removed in container */
  width: 200px;
  height: 250px;
  margin: 0;
  padding: 0;
}
.title {
  /*background-color: grey;*/
  position: relative;
  margin: 15px auto;
  color: #335;
}
.startMsg, .winMsg{
  font-size: 35px;
  margin-top: 15px;
  padding: 0;
}
.winMsg {
  color: #b22222;
}

/*selector css*/
body {
  background: #332f35;
}
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
label {
  color: #335;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  margin-bottom: 0;
}
input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}
label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}
input[type=radio] + label {
  font-size: 20px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.85);
}
.radio-group {
  font-size: 0;
  border: solid 3px #675f6b;
  background-color: #675f6b;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

/* scrollbar */
#scroll {
  position: fixed;
  bottom: 5%;
  left: 8%;

}
#scroll2 {
  position: fixed;
  bottom: 5%;
  right: 8%;
}
a {
  padding-top: 80px;
}
a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid rgba(3, 3, 5, 0.35);
  border-bottom: 2px solid rgba(3, 3, 5, 0.35);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
