#match-cards-board {
  background-color: #fff;
  opacity: 0.85;
  border-radius: 32px;
  overflow-y: hidden;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  position: absolute;
}

.board {
  text-align: center;
  font-size: 20px;
}