<div id="match-cards-board" class="align-middle">
  <div class="title">
    <h3 class="startMsg" *ngIf="!gameEnded">Play</h3>
    <h3 class="winMsg" *ngIf="gameEnded">You Win</h3>
  </div>
  <div class="container-fluid board align-middle" >
    
    <div class="p-table">
      <ul class="p-card-list">  
        <li class="p-card" 
            *ngFor="let card of cards">
            <app-card [card]="card"
                      (onSelected)="onSelected($event)">
            </app-card>
        </li>
      </ul>
    </div>
    
  </div>
  <audio id="cry">
    <source id="cry-src" [src]="cry" type="audio/wav">
  </audio>
</div>

