.card {
  height: 200px;
  width: 200px;
  margin: 0;
  padding: 0;
  border: none;
  /*border: 3px outset rgba(100, 149, 237,.5);*/
}
.card-block {
  padding: 10px 0 0 0;
  height: 46px;
  width: 200px;
  margin: 0;
  padding: 0;
}

.card-img-top {
  max-width:100%;
  max-height:100%;
  margin: 0;
  padding: 0;
}

.card:hover {
  cursor: pointer;
  /*box-shadow: 7px 7px 7px lightblue;*/
}

.card-img-top:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
